.container {
	background-color: #fff;
}

body {
	font-family: 'ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,Osaka,'ＭＳ Ｐゴシック',MS PGothic,sans-serif;
	font-size: 0.8rem;
}

.top-banner {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 11px;
	padding-bottom: 11px;
	justify-content: center;
}
.search-form {
	justify-content: center;
	background-color: #f1f5ff;
}

.input-group {
	width: 60%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.list-group-item {
	padding-right: 0px;
    padding-top: 5px;
    border-bottom-width: 0px;
    padding-bottom: 5px;
    border: 0 none;
	background-color: #f1f5ff;
	background-image: url("../image/20x20.png");
	background-repeat: no-repeat;
}

.list-group-item a {
	font-size: 0.8rem;
}

.side-menu {
	background-color: #f1f5ff;
}

.test-ads {
	position: relative;
	height: 250px; 
	width: 300px; 
	background-image: url("../image/ads-bg.jpg") !important;
	background-color: #ffffff;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.test-ads-logo {
	background-color: #000000;
	position: absolute;
	top: 1px;
  	left: 1px;
}

.test-ads-overlay{
	background-color: #000000;
	opacity: 60%;
	height: 195px; 
	width: 245px;
	position: absolute;
	background-image:  url("../image/overlay.png");
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p.sales-comment {
	text-align: center !important;
}

.sales-comment {
	position: absolute;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	top: 50px;
	left: 45px;
	right: 35px;
	font-size: 15px;
	color: rgb(255,255,255, 1);
	margin: 0px;
	opacity: 100% !important;
}

.choice-btn {
	text-align: center;
}

.like {
	position: absolute;
  	bottom: 41px;
  	left: 42px;
  	border: 2px solid;
  	border-radius: 10px 0 0 10px;
  	font-size: 14px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	padding-right: 2px;
  	padding-left: 5px;
  	background-color: #ffbfc0;
  	color: black;
}

.dont-like {
	position: absolute;
  	bottom: 41px;
  	right: 42px;
  	border: 2px solid;
  	border-radius: 0 10px 10px 0;
  	font-size: 14px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	padding-left: 2px;
  	padding-right: 5px;
  	background-color: #cfcfcf;
  	color: black;
}

#ads-patern {
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment_1 {
	color: yellow;
}

.comment_2 {
	color: pink;
	/*animation: blinker 1s linear infinite;*/
	animation-name: example;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {color: #fd566c;}
    50%  {color: pink;}
    100% {color: #fd566c;}
}

.list-suggest-news {
	padding-right: 0px;
	padding-left: 0px;
}
.suggest-news {
	width: 80px;
}

.list-suggest-news li {
	padding-bottom: 10px;
}

.sub-news {
	padding-left: 5px;
}

p {
	color: grey;
}

ul {
	list-style-type: none;
}

.row:before, .row:after {display: none !important;}
